<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}
<head>
    <title>{% block title %}Challenges{% endblock %}</title>
    {% block linking %}
    {% endblock %}
</head>
<body>
{% block body %}
 <div class="container container-fluid span12">
    {% for ch in list %}
        <div class="col-md-2 column">
        <div style="border: 3px solid {{ ch.category.color }};border-radius: 8px;">
        <strong>{{ ch.category.name }}</strong><br>
        {% for challenge in ch.challenges %}
            <ul>
        <li><a href="/challenges/get/{{ challenge.id }}/">{{ challenge.name }}</a></li>
            </ul>
        {% endfor %}
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>