<!DOCTYPE html>
<html>
{% extends 'base.html' %}
<head>
    <title>{% block title %}Challenges{% endblock %}</title>
    {% block linking %}
    {% endblock %}
</head>
<body>
{% block body %}
     {% if list %}
        {% for ch in list %}
            <p><strong>{{ ch.category.name }}</strong></p>
            {% for challenge in ch.challenges %}
                <a href="/challenges/get/{{ challenge.id }}/"><p>{{ challenge.name }}</p></a>
            {% endfor %}
        {% endfor %}
    {% else %}
        <h1> no challenges for now, get back soon !</h1>
    {% endif %}
{% endblock %}
</body>
</html>