<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO icon , maybe change it later -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrapp -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    {% block linking %}{% endblock %}
    <title>{% block title %}ctfBulletin{% endblock %}</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

        <a class="navbar-brand" href="/challenges/">ctfBulletin</a>
                <ul class="right" style="float: right">{% if user.is_authenticated %}
                <li class=""><a href="/challenges/profile/">{{ user.username }}</a></li>
                <li class=""><a id="score" style="text-decoration: none">score: {{ challenger.score }}</a></li>
                {%  block navbar %}{% endblock %}
            {% else %}
                <li class="navbar-link"><a href="#">anonymous</a></li>
            {% endif %}</ul>
        <div class="nav-collapse">
    <ul class="pull-right nav">


    </ul>
    <ul class="nav" >
    </ul>
       </div>
   </div>
</div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav ">
            {% include 'side_nav_bar.html' %}
                {% block list %}
                {% endblock %}
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9" style="background-color:#e5e5e5; border-radius: 5px">
            {% block body %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>
    <footer style="position: relative">
    <div class="container">
        <p>&copy; 2014 ctfBullentin : all rights reserved for <a href="http://www.fb.com/sayf.e.farhani">Sayf piratos</a></p>
    </div>
</footer>
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.columnizer.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>