<body>
{% block list %}
    <ul class="nav nav-list sidebar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/talk/index/">forum</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/ctf/">CTF</a></li>
        <li><a href="/ctf/scoreboard/">scoreboard</a></li>
        {% if user.is_authenticated %}
            <li><a href="/challenges/profile/">Profile</a></li>
            <li><a href="/challenges/logout/">logout</a></li>
        {% else %}
            <li><a href="/challenges/login/">Login/register</a></li>
        {% endif %}
    </ul>
{% endblock %}
</body>